* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    padding: 16px 0px;
    background-color: black;
    color: whitesmoke;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 15px;
}

header nav li a {
    color: whitesmoke;
    text-decoration: none;
}

.container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}